# ------------------------
# Dependencies
# ------------------------
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
package-lock.json
yarn.lock
pnpm-lock.yaml

# ------------------------
# Build Outputs
# ------------------------
.next/
out/
build/
dist/
.cache/
coverage/

# ------------------------
# Environment & Config
# ------------------------
.env
.env.*
env.example.env
.vercel
.dockerignore
Dockerfile
docker-compose.yml

# ------------------------
# Logs
# ------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Misc
# ------------------------
*.pem
*.tsbuildinfo
next-env.d.ts

# ------------------------
# IDE / Editor
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# Local Databases
# ------------------------
# Ignore all SQLite DBs in root or subfolders
*.db
*.db-journal

# ------------------------
# Optional: local backups or temporary exports
# ------------------------
/database/
*.sqlite
*.sqlite3
*.bak
*.backup
*.http
*.https


# ------------------------
# Custom Ignores
# ------------------------

# Ignore all .html files in project root
/*.html
/*.file

# Ignore all .html files inside /public
/public/**/*.html

# Ignore data and uploads folders
/public/**/data/
/public/**/uploads/